/* regole generali pagina */
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}
/*************************** macro blocco principale ********************************/
#wrapper {
    display: flex;
    height: calc(100vh - 100px);
    /* DEBUG */
    /* background-color: blueviolet; */
}

/************************** blocco navigazione sinitra *************************/
#wrapper nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    color: gray;
    background-color: #000000;
    
}

.nav-list {
    list-style: none;
}

/*********** parte hover nav *******/
nav a:hover {
    color: #fff;
}

.menu li:active {
    border-left: 2px solid green;
}

.new-playlist:hover {
    color: #fff;
}

.new-playlist i:hover {
    background-color: white;
}

.download span:hover {
    color: #fff;
}


/* parte del menu */
/* parte logo */
#logo {
    height: fit-content;
}

#logo img {
    padding: 20px 0 20px 20px;
    width: 60%;
}

#logo .small-logo {
    display: none;
    width: 25%;
}

/* sezione scelte menu */
nav a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    /* DEBUG */
    /* height: 100px; */
    /* background-color: red; */
}

ul {
    list-style: none;
    padding-left: 0;
}

.menu li {
    padding-left: 20px;
    margin-top: 10px;
}

.menu a {
    display: flex;
    align-items: center;
}

.menu a img{
    width: 30px;
    margin-right: 10px;
}

.menu span {
    font-size: 20px;
}

/* sezione playlist pesonali */
.personal-playlist {
    display: flex;
    flex-direction: column;
     /* DEBUG */
     /* height: 400px;
     background-color: green; */
}

.personal-playlist h3 {
    color: white;
    margin: 30px 0 10px 20px;
}

.personal-playlist li {
    margin-top: 15px;
    padding-left: 20px;
}

/* creazione nuova playlist */
.new-playlist i {
    margin-left: 20px;
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
    color: #000000;
    background-color: #636363;
}

.new-playlist span {
    font-weight: bold;
}

/* sezione download e profilo */
.profile-download {
    margin: 0 20px;
    /* DEBUG */
    /* height: 100px;
    background-color: violet; */
    
}

.download {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #636363;
}

.download img {
    width: 20px;
    margin-right: 10px;
}

.profile {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
}

.profile img {
    width: 35px;
    font-size: 30px;
    background-color: gray;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile span {
    color: white;
}

/*************************** blocco di contenuto principale******************* */
#wrapper main {
    overflow: auto;
    height: 100%;
    width: calc(100% - 250px);
    color: gray;
    background-color: #141922;
}

/* hover button upgrade */
.upgrade button:hover {
    font-size: 16px;
}

/* parte upgrade fissa */
#wrapper .upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: calc(100% - 250px);
    height: 100px;
    background-color: black;
    z-index: 999;
    opacity: 0.5;
}

.upgrade button {
   color: #fff;
   background-color: transparent;
   border: 3px solid white;
   border-radius: 25px;
   margin-right: 20px;
   font-weight: bold;
   padding: 15px 30px;
}

/* parte tipologia contenuti */
.content-type{
    text-align: center;
    margin-top: 120px;
}

.content-type a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    color: gray;
}

/* hover e active content type */
.content-type a:hover {
    color: #fff;
}

.content-type a:active {
    border-bottom: 2px solid green;
}

/* parte recent playlist */
.album-type {
    display: flex;
    gap: 10px;
    margin: 0 20px;
}

.playlists-type {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.playlists-type h2 {
    color: white;
    margin-left: 20px;
    width: 100%;
    font-size: 30px;
}

.playlists-type h3 {
    margin-top: 20px;
    color: white;
}

.playlists-type .col {
    text-align: center;
    margin-top: 30px;
    width: 25%;
}

.col img {
    width: 100%;
}

.col span{
    margin-top: 5px;
    font-size: 15px;
}

.player-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player-img i {
    position: absolute;
    font-size: 60px;
    color: #fff;
    display: none;
    z-index: 20;
}


/* hover vari album */
.player-img :hover {
    opacity: 0.5;
}

.player-img:hover i {
    display: block;
    opacity: 1;
}

/*  parter per te */

.for-you span {
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 13px;
}

/* sezione artisti */
.artists span {
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 13px;
}

.artists img {
    border-radius: 50%;
}

/************************** parte player/controller ***********************/
#player {
    display: flex;
    justify-content: space-between;
    height: 100px;
    color: gray;
    background-color: #282828;
}

/*********** hover player ***********/
/* hover time line e volume */
.short-line:hover {
    background-color: greenyellow;
}

.fa-circle-play:hover {
    color: #fff;
}

.title-song span:hover {
    border-bottom: 1px solid;
}

.song i:hover {
    color: #fff;
}

/* parte canzone sinitra*/
.song {
    display: flex;
    align-items: center;
    width: 25%;
    /* DEBUG */
    /* height: 100%;
    background-color: red; */
}

.song h4 {
    color: white;
    font-size: 17px;
}

.song img {
    width: 20%;
    margin: 0 10px;
}

.song i {
    margin-left: 20px;
}

.title-song {
    margin-right: 30px;
    font-size: 13px;
}

.liked i {
    display: block;
    margin: 5px;
}
/* parte del player centrale */
.player {
    width: 50%;
    /* DEBUG */
    /* height: 100%;
    background-color: blueviolet; */
}

.skip {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.skip i {
    font-size: 20px;
    padding: 0 10px;
}

/* parte skip/play */
.skip .fa-circle-play {
    font-size: 30px;
}

/* parte time line */
.time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span {
    margin: 0 10px
}

.time-line {
    width: 35%;
    height: 5px;
    background-color: gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.short-line {
    width: 10%;
    height: 5px;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* parte volume destra */
.volume {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    /* DEBUG */
    /* height: 100%;
    background-color: blue; */
}

.volume i {
    margin: 0 10px;
}

.volume-line {
    width: 20%;
    height: 5px;
    background-color: gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 10px;
}

/**************************** media query *************************************/

/* medium device */
@media screen and (max-width:878px) {

    .album-type {
        flex-wrap: wrap;
    }

    .playlists-type .col {
        width: 20%;
    }
    
    .for-you .col {
        width: 20%;
    }

}

/* small device */
@media screen and (max-width:639px) {
    
    .album-type {
        flex-wrap: wrap;
    }

    .playlists-type .col {
        width: 45%;
    }

}

/* extra small device */

@media screen and (max-width:552px) {
    
    /* sezione nav sinistra  */
    #wrapper nav {
        width: 50px;
    }

    #wrapper nav span {
        display: none;
    }

    #logo img{
        display: none;
    }

    #logo .small-logo {
        display: block;
        width: 100%;
        padding: 5px
    }

    .menu li{
        padding: 0;
        margin-left: 10px;
    }

    .new-playlist i {
        margin: 0 5px;
    }

    .personal-playlist {
        display: none;
    }

    .profile-download {
        margin: 0 5px;
        
    }

    .download {
        border: none;
    }

    .download img{
        margin: 0 10px;
    }

    .profile img {
        width: 40px;
        height: 40px;
    }
    /* sezione main */

    #wrapper .upgrade {
        width: calc(100% - 50px);
    }

    #wrapper main {
        width: calc(100% - 50px); 
    }

    /* sezione footer canzone */
    .title-song{
        margin-right: 0;
    }

    .song i {
        margin-left: 0;
    }
}